.home {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: $primary-color;
  padding: rem(20);

  &-headerTitle {
    color: $light-color;
    margin-bottom: rem(150);
    z-index: 2;
  }

  &-container {
    position: relative;
  }

  &-headerSubtitle {
    color: $dark-color;
    margin-bottom: rem(30);
    align-self: flex-end;
    z-index: 0;
  }
}

.image {
  position: absolute;
  height: 359px;
  right: 0;
  top: 40px;
  z-index: -99;
}
