.home {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: $primary-color;
  padding-left: rem(35);
  padding-top: rem(49);
  padding-bottom: rem(35);

  &-menu {
    position: absolute;
    height: rem(33);
    width: rem(33);
  }

  &-container {
    position: relative;
    height: 58vh;
    width: 100%;
  }

  &-headerTitle {
    color: $light-color;
    margin-top: rem(60);
    z-index: 2;
  }

  &-image {
    height: rem(359);
    width: rem(242);
    position: absolute;
    top: rem(14);
    clip: rect(130px, 170px, 230px, 70px);
    right: 0;
    z-index: -99;

    &:hover {
      clip: auto;
    }
  }

  &-headerSubtitle {
    width: rem(242);
    color: $dark-color;
    margin-bottom: rem(31);
    align-self: flex-end;
    z-index: 0;
  }

  &-author {
    font-weight: 700;
  }
}
